
.container {
    width: 80%;
    
}

.wrapper {
    display: grid;
     
   /* grid-template-columns: 4fr 4fr 4fr; */
        /*  grid-template-columns: repeat(12, 1fr);*/
    
    grid-auto-rows: minmax(100px, auto);
    
}

.logo{
    display: center;
    
    
}

nav{
    margin-left: 80px;
    margin-right: 80px;
    
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 35px 80px;
    
}

h1{
    font-size: 50px;
    font-family: helvetica
}



